.presentacion {
    margin: 5em;
    display: grid;

    h2 {
        text-align: center;
        &.main-heading {
            text-decoration: underline $color-enfasis;
        }
    }

    p {
        text-align: justify;
        width: 70%;
    }

    .persona {
        @include flex-center;
        margin: 2em;
        height: 400px;
    }

    .reverse {
        flex-direction: row-reverse;
    }

    .img {
        width: 30%;
        height: 100%;
        border-radius: 1em;
        margin: 1em .5em;
    }

    #juan {
        background: url("/images/foto1.jpg") no-repeat center;
        background-size: cover;
        box-shadow: -.5em -.5em $color-enfasis;
    }

    #caro {
        background: url("/images/foto2.jpg") no-repeat center;
        background-size: cover;
        box-shadow: .5em .5em $color-secundario;
    }

    #daro {
        background: url("/images/foto1.jpg") no-repeat center;
        background-size: cover;
        box-shadow: -.5em -.5em $color-enfasis;
    }


    .parrafos {
        margin: 0 3em;
        width: 70%;
    }

    .parrafos p {
        width: 100%;
    }
}

.que-ofrecemos {
    background-color: $color-bg;
    width: 100%;

    h2 {
        color: $color-blanco;
        text-align: center;
        padding: 1em;
    }

    h3 {
        color: $color-blanco;
        text-align: center;
        width: 63%;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .iconos-flex {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: stretch;
        align-items: center;
        /*width: 80%;*/
        padding-bottom: 2em;

        article {
            @include flex-center;
            flex-direction: column;
            text-align: center;

            img {
                margin: 1em;
                width: 40%;
            }
        }
    }
}

.ultimos-videos {
    height: 28em;

    h2 {
        text-align: center;
        padding: 1em;
    }
}

.row {
    &.margin {
        margin: 80px;
    }
}
