@import '../base/base';

.container{
    display: flex;
    margin: 4em; 
    
    iframe{

        width: 600px;
        height: 307px;
        border-radius: 2em;
        margin: 2em;

    }

    .texto{
        width: 70%;
        text-align: justify;
        margin: 2em;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        h3{
            font-size: 1.5em;
            font-weight: bolder;
            max-width: 50%;
        }

        p{
            max-width: 70%;
        }
    }
}