// Colores

$color-bg: #0E1920;
$color-texto: #0E1920;
$color-principal: #2AB092;
$color-secundario: #40C0F0;
$color-enfasis: #8DBF22;
$color-gris: #C4C4C4;
$color-blanco: #ffffff;
$color-negro: #000000;


// Fuentes 

$texto-titulos: 'rift', sans-serif;
$texto-gerenal: 'Roboto', sans-serif;


$fuente-grande: 5rem;
$fuente-mediana: 3rem;
$fuente-chica: 1rem;


$espaciado-estandar: 1.5em;
$espaciado-chico: 1.2em;
